trunk/PWA/Web References/PineWS/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTwoNumbers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTwoNumbersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddTwoNumbersResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MultiplyTwoNumbers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MultiplyTwoNumbersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MultiplyTwoNumbersResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLead">
        <s:complexType />
      </s:element>
      <s:element name="GetLeadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLeadResult" type="tns:Lead" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Lead">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLeads">
        <s:complexType />
      </s:element>
      <s:element name="GetLeadsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLeadsResult" type="tns:ArrayOfLead" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLead">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Lead" nillable="true" type="tns:Lead" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="AddTwoNumbersSoapIn">
    <wsdl:part name="parameters" element="tns:AddTwoNumbers" />
  </wsdl:message>
  <wsdl:message name="AddTwoNumbersSoapOut">
    <wsdl:part name="parameters" element="tns:AddTwoNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="MultiplyTwoNumbersSoapIn">
    <wsdl:part name="parameters" element="tns:MultiplyTwoNumbers" />
  </wsdl:message>
  <wsdl:message name="MultiplyTwoNumbersSoapOut">
    <wsdl:part name="parameters" element="tns:MultiplyTwoNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="GetLeadSoapIn">
    <wsdl:part name="parameters" element="tns:GetLead" />
  </wsdl:message>
  <wsdl:message name="GetLeadSoapOut">
    <wsdl:part name="parameters" element="tns:GetLeadResponse" />
  </wsdl:message>
  <wsdl:message name="GetLeadsSoapIn">
    <wsdl:part name="parameters" element="tns:GetLeads" />
  </wsdl:message>
  <wsdl:message name="GetLeadsSoapOut">
    <wsdl:part name="parameters" element="tns:GetLeadsResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddTwoNumbers">
      <wsdl:input message="tns:AddTwoNumbersSoapIn" />
      <wsdl:output message="tns:AddTwoNumbersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MultiplyTwoNumbers">
      <wsdl:input message="tns:MultiplyTwoNumbersSoapIn" />
      <wsdl:output message="tns:MultiplyTwoNumbersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLead">
      <wsdl:input message="tns:GetLeadSoapIn" />
      <wsdl:output message="tns:GetLeadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLeads">
      <wsdl:input message="tns:GetLeadsSoapIn" />
      <wsdl:output message="tns:GetLeadsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTwoNumbers">
      <soap:operation soapAction="http://tempuri.org/AddTwoNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultiplyTwoNumbers">
      <soap:operation soapAction="http://tempuri.org/MultiplyTwoNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLead">
      <soap:operation soapAction="http://tempuri.org/GetLead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeads">
      <soap:operation soapAction="http://tempuri.org/GetLeads" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTwoNumbers">
      <soap12:operation soapAction="http://tempuri.org/AddTwoNumbers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultiplyTwoNumbers">
      <soap12:operation soapAction="http://tempuri.org/MultiplyTwoNumbers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLead">
      <soap12:operation soapAction="http://tempuri.org/GetLead" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeads">
      <soap12:operation soapAction="http://tempuri.org/GetLeads" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:3015/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:3015/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>