trunk/PWA/Web References/PineWS/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTwoNumbers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTwoNumbersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddTwoNumbersResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MultiplyTwoNumbers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MultiplyTwoNumbersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MultiplyTwoNumbersResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLeads">
        <s:complexType />
      </s:element>
      <s:element name="GetLeadsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLeadsResult" type="tns:ArrayOfLead" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLead">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Lead" nillable="true" type="tns:Lead" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Lead">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Zip" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoginLead">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LeadPhone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginLeadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginLeadResult" type="tns:Lead" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMenu">
        <s:complexType />
      </s:element>
      <s:element name="GetMenuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMenuResult" type="tns:ArrayOfMenuItems" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMenuItems">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MenuItems" nillable="true" type="tns:MenuItems" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MenuItems">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OrderInfo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ItemId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newOrder" type="tns:OrderItems" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OrderItems">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OrderID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MenuID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalUnitPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="LeadID" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertOrderResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LeadID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetOrderCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CopyToOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newOrderHistory" type="tns:Orders" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Orders">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OrderID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Total" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="CopyToOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CopyToOrderResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateLoginResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertLead">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lead" type="tns:Lead" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertLeadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertLeadResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="AddTwoNumbersSoapIn">
    <wsdl:part name="parameters" element="tns:AddTwoNumbers" />
  </wsdl:message>
  <wsdl:message name="AddTwoNumbersSoapOut">
    <wsdl:part name="parameters" element="tns:AddTwoNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="MultiplyTwoNumbersSoapIn">
    <wsdl:part name="parameters" element="tns:MultiplyTwoNumbers" />
  </wsdl:message>
  <wsdl:message name="MultiplyTwoNumbersSoapOut">
    <wsdl:part name="parameters" element="tns:MultiplyTwoNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="GetLeadsSoapIn">
    <wsdl:part name="parameters" element="tns:GetLeads" />
  </wsdl:message>
  <wsdl:message name="GetLeadsSoapOut">
    <wsdl:part name="parameters" element="tns:GetLeadsResponse" />
  </wsdl:message>
  <wsdl:message name="LoginLeadSoapIn">
    <wsdl:part name="parameters" element="tns:LoginLead" />
  </wsdl:message>
  <wsdl:message name="LoginLeadSoapOut">
    <wsdl:part name="parameters" element="tns:LoginLeadResponse" />
  </wsdl:message>
  <wsdl:message name="GetMenuSoapIn">
    <wsdl:part name="parameters" element="tns:GetMenu" />
  </wsdl:message>
  <wsdl:message name="GetMenuSoapOut">
    <wsdl:part name="parameters" element="tns:GetMenuResponse" />
  </wsdl:message>
  <wsdl:message name="InsertOrderSoapIn">
    <wsdl:part name="parameters" element="tns:InsertOrder" />
  </wsdl:message>
  <wsdl:message name="InsertOrderSoapOut">
    <wsdl:part name="parameters" element="tns:InsertOrderResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrderCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrderCount" />
  </wsdl:message>
  <wsdl:message name="GetOrderCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrderCountResponse" />
  </wsdl:message>
  <wsdl:message name="CopyToOrderSoapIn">
    <wsdl:part name="parameters" element="tns:CopyToOrder" />
  </wsdl:message>
  <wsdl:message name="CopyToOrderSoapOut">
    <wsdl:part name="parameters" element="tns:CopyToOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateLoginSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateLogin" />
  </wsdl:message>
  <wsdl:message name="ValidateLoginSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateLoginResponse" />
  </wsdl:message>
  <wsdl:message name="InsertLeadSoapIn">
    <wsdl:part name="parameters" element="tns:InsertLead" />
  </wsdl:message>
  <wsdl:message name="InsertLeadSoapOut">
    <wsdl:part name="parameters" element="tns:InsertLeadResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddTwoNumbers">
      <wsdl:input message="tns:AddTwoNumbersSoapIn" />
      <wsdl:output message="tns:AddTwoNumbersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MultiplyTwoNumbers">
      <wsdl:input message="tns:MultiplyTwoNumbersSoapIn" />
      <wsdl:output message="tns:MultiplyTwoNumbersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLeads">
      <wsdl:input message="tns:GetLeadsSoapIn" />
      <wsdl:output message="tns:GetLeadsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginLead">
      <wsdl:input message="tns:LoginLeadSoapIn" />
      <wsdl:output message="tns:LoginLeadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMenu">
      <wsdl:input message="tns:GetMenuSoapIn" />
      <wsdl:output message="tns:GetMenuSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertOrder">
      <wsdl:input message="tns:InsertOrderSoapIn" />
      <wsdl:output message="tns:InsertOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderCount">
      <wsdl:input message="tns:GetOrderCountSoapIn" />
      <wsdl:output message="tns:GetOrderCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CopyToOrder">
      <wsdl:input message="tns:CopyToOrderSoapIn" />
      <wsdl:output message="tns:CopyToOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateLogin">
      <wsdl:input message="tns:ValidateLoginSoapIn" />
      <wsdl:output message="tns:ValidateLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertLead">
      <wsdl:input message="tns:InsertLeadSoapIn" />
      <wsdl:output message="tns:InsertLeadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTwoNumbers">
      <soap:operation soapAction="http://tempuri.org/AddTwoNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultiplyTwoNumbers">
      <soap:operation soapAction="http://tempuri.org/MultiplyTwoNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeads">
      <soap:operation soapAction="http://tempuri.org/GetLeads" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginLead">
      <soap:operation soapAction="http://tempuri.org/LoginLead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenu">
      <soap:operation soapAction="http://tempuri.org/GetMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertOrder">
      <soap:operation soapAction="http://tempuri.org/InsertOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderCount">
      <soap:operation soapAction="http://tempuri.org/GetOrderCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CopyToOrder">
      <soap:operation soapAction="http://tempuri.org/CopyToOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLogin">
      <soap:operation soapAction="http://tempuri.org/ValidateLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertLead">
      <soap:operation soapAction="http://tempuri.org/InsertLead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTwoNumbers">
      <soap12:operation soapAction="http://tempuri.org/AddTwoNumbers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultiplyTwoNumbers">
      <soap12:operation soapAction="http://tempuri.org/MultiplyTwoNumbers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeads">
      <soap12:operation soapAction="http://tempuri.org/GetLeads" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginLead">
      <soap12:operation soapAction="http://tempuri.org/LoginLead" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenu">
      <soap12:operation soapAction="http://tempuri.org/GetMenu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertOrder">
      <soap12:operation soapAction="http://tempuri.org/InsertOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderCount">
      <soap12:operation soapAction="http://tempuri.org/GetOrderCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CopyToOrder">
      <soap12:operation soapAction="http://tempuri.org/CopyToOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLogin">
      <soap12:operation soapAction="http://tempuri.org/ValidateLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertLead">
      <soap12:operation soapAction="http://tempuri.org/InsertLead" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:3015/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:3015/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>